@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?w3dgyq');
  src:  url('fonts/icomoon.eot?w3dgyq#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?w3dgyq') format('truetype'),
    url('fonts/icomoon.woff?w3dgyq') format('woff'),
    url('fonts/icomoon.svg?w3dgyq#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-menu:before {
  content: "\e908";
}
.icon-adicionar:before {
  content: "\e900";
}
.icon-bebida:before {
  content: "\e901";
}
.icon-busca:before {
  content: "\e902";
}
.icon-cesta:before {
  content: "\e903";
}
.icon-favorito:before {
  content: "\e904";
}
.icon-fritas:before {
  content: "\e905";
}
.icon-home:before {
  content: "\e906";
}
.icon-lanche:before {
  content: "\e907";
  color: #173156;
}
.icon-pedido:before {
  content: "\e909";
}
.icon-pizza:before {
  content: "\e90a";
}
.icon-seta:before {
  content: "\e90b";
}
.icon-suco:before {
  content: "\e90c";
}
.icon-usuario:before {
  content: "\e90d";
}
